body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding-top: 0;  /* Removido o padding-top */
}

.logo_dashboard {
    width: 120px;
    margin-bottom: 30px;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
    padding-top: 30px;  /* Mantenha o espaçamento superior aqui */
}

/* Manter layout do header */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user-email {
    font-weight: 500;
}

.logout-btn {
    padding: 8px 16px;
    background: #e65454;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logout-btn:hover {
    background: #e6290b;
}

/* Estilo para o botão de voltar para o início */
.back-home {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.home-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 16px;
    background-color:#165a8f;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
}

.home-btn:hover {
    background-color: #333;
    transform: translateY(-2px);
}

.home-btn i {
    font-size: 18px;
}

/* Dashboard Stats */
.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-card i {
    font-size: 24px;
    color: #519ECF;
}

.stat-info h3 {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.stat-info p {
    margin: 5px 0 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Recent Activities */
.recent-activities {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.recent-activities h2 {
    margin: 0 0 20px;
    color: #333;
}