@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background: #ffffff;
  color: #333;
  text-align: center;
  padding-top: 100px;
}

/*html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}*/

/*----------------preloader------------------*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: white; /* O el color de fondo que prefieras */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/src/assets/preloader/Preloader\ 3.gif') 50% 50% no-repeat rgb(0,0,0);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #333;
}

.header-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  width: 100%;
  z-index: 1000;
  margin-top: -100px;
  position: sticky;
}

.header-left {
  display: flex;
  align-items: flex-end;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0;
}

.profile{
  width: 35px;
  height: 35px;
  margin-right: 60px;
}

.logo_index{
  width: 250px;
  height: auto;
  margin: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #007acc;
}

#search-input {
  width: 80%;
  max-width: 400px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 18px;
  margin-bottom: 40px;
}

.music-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.music-thumb {
  width: 200px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 18px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  box-sizing: border-box;
  padding: 10px;
}

.music-thumb:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.music-title-thumb {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #222;
  text-align: center;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-thumb img {
  width: 100%;
  display: block;
  margin-top: auto;
}

.music-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-area {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 18px;
  border: 1px solid;
  overflow: hidden;
  height: 315px;
  
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.lyrics-area {
  flex: 1;
  max-width: 560px;
  display: inline-block;
  margin-left: 180px;
}

.lyrics {
  font-size: 20px;
  line-height: 2.0;
  background: #fff;
  padding: 15px;
  border: 1px solid #e0dcdc;
  border-radius: 18px;
  min-height: 200px;
  text-align: left;
}

.blank {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  border-bottom: 2px solid #007acc;
  min-height: 30px;
  vertical-align: middle;
  text-align: center;
  height: 10px;
  border: 1px line #007acc;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.3s ease, background 0.3s ease;
  border-radius: 20px;
}

.word-bank-area {
  width: 150px;
  position: sticky;
  top: 20px;
  z-index: 100;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  background-color: #007acc;
  border-radius: 20px;
  color: #fff;
  cursor: grab;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 5px;
}

.dropped-word {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #007acc;
  border-radius: 20px;
  color: #fff;
  cursor: grab;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.draggable:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.nav-buttons {
  margin-top: 20px;
}

.btn {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 0 10px;
}

.btn:hover {
  background-color: #005fa3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.modal-content h2 {
  margin-top: 0;
  color: #007acc;
}

.modal-content .stars {
  font-size: 24px;
  margin: 10px 0;
  color: #ffb400;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: #aaa;
  cursor: pointer;
}

.modal-content .close:hover {
  color: #000;
}

#screen-drag .header {
  display: none;
}
